body {
  font-family: Arial, sans-serif;
  background:#f2f2f2;
  direction:rtl;
  text-align:center;
  margin:0;
  padding:0;
}
h1 { margin-top:20px; }
.container {
  background:white;
  width:90%;
  max-width:600px;
  margin:auto;
  padding:20px;
  border-radius:12px;
  margin-top:20px;
}
select, input { width:100%; padding:10px; margin:6px 0; }
ul { list-style:none; padding:0; }
li {
  background:#eaeaea;
  margin:8px 0;
  padding:10px;
  border-radius:6px;
  text-align:right;
}
.dark-theme {
  background-color:#121212;
  color:#fff;
}
.dark-theme .container { background-color:#1e1e1e; }
